.list_th {
    font-size: 16px;
    letter-spacing: 2px;
}

.skinny td {
    padding: 2px;
    margin: 0;
}

.sidenav-menu-sub-item-active {
    text-decoration: none;
    background-color: #000;
    font-weight: bolder;
    letter-spacing: 1.25px;
    -webkit-font-smoothing: antialiased;
}

.video-library-item-img-overlay {
    opacity: 4;
    z-index: 3
}

.video-inner {
    border-color: #383838;
    border-width: 1px;
    border-style: solid;
    padding: 6px;
}

.video-play-item-title {
    margin: 0 0 6px 0;
    font-size: 24px;
    color: #3ca23b;
}